src/module0/Oracle_JDK-24/bin/awt.dll
src/module0/Oracle_JDK-24/bin/extnet.dll
src/module0/Oracle_JDK-24/bin/fontmanager.dll
src/module0/Oracle_JDK-24/bin/freetype.dll
src/module0/Oracle_JDK-24/bin/java.dll
src/module0/Oracle_JDK-24/bin/jimage.dll
src/module0/Oracle_JDK-24/bin/jsvml.dll
src/module0/Oracle_JDK-24/bin/management_ext.dll
src/module0/Oracle_JDK-24/bin/management.dll
src/module0/Oracle_JDK-24/bin/msvcp140.dll
src/module0/Oracle_JDK-24/bin/net.dll
src/module0/Oracle_JDK-24/bin/nio.dll
src/module0/Oracle_JDK-24/bin/splashscreen.dll
src/module0/Oracle_JDK-24/bin/vcruntime140_1.dll
src/module0/Oracle_JDK-24/bin/vcruntime140.dll
src/module0/Oracle_JDK-24/bin/verify.dll
src/module0/Oracle_JDK-24/bin/zip.dll
src/module0/Oracle_JDK-24/bin/server/jvm.dll
src/module0/Oracle_JDK-24/lib/jrt-fs.jar
src/module0/Oracle_JDK-24/lib/modules
